---
import {commitEntryDate} from '@utils/git';
import RelativeDateTime from '@components/ui/RelativeDateTime.astro'
const {entry} = Astro.props;
---
<li>
	<div><a href={"/commit/" + entry.oid + "/"}>{entry.commit.message}</a></div>
	<span>{entry.commit.author.name}</span>
      <span><RelativeDateTime date={commitEntryDate(entry)}/></span>
</li>