---
import {getTreePath, getRepoPath, getRefPath} from '@utils/linkUtils.js';
const {repo, ref, path, entry} = Astro.props;

const {refPathMap} = await repo.getStaticHelpers();
const hasRef = refPathMap.get(ref);
---
{hasRef
  ? <h3>
    "{path}" did not match any known paths in <span class="ref">{ref}</span>.
  </h3>
  : <h3>
    This repo has no references named "{ref}". <a href={getRepoPath(repo)}>Return to repository main page</a>
  <h3/>
}
{entry.options.length > 0
  ? <>
    <h4>
      These references contains the path "{path}"
    </h4>
    <ul>
      {entry.options.map(option => {
        return <li>
          <a href={getTreePath(repo, option, path)}>{option}</a>
        </li>
      })}
    </ul>
  </>
  : <h4>No other reference contains this path. <a href={getRefPath(repo, ref)}>Return to reference root</a></h4>
}