---
import {getRepoPath, getCommitPath, getTreePath, getRootPath} from '@utils/linkUtils';
import GitBreadcrumbs from '@components/GitBreadcrumbs.astro'
import GitRefSelector from '@components/GitRefSelector.astro';
import SearchInput from '@components/search/SearchInput.astro';
import SearchResult from '@components/search/SearchResult.astro';
import "./RepoHeader.css"

const {repo, ref, path} = Astro.props;
const branches = await repo.getBranches();
const tags = await repo.getTags();

const latestCommit = await repo.latestCommit();
const latestTree = await repo.getTree(latestCommit.commit.tree);
const license = latestTree.tree.find(part => part.path.match(/^li[cs]en[sc]e/i));


---
<header class="repo-header">
  <a href={getRootPath()}>All repositories</a>
  <h1><a href={getRepoPath(repo) + "/"}>{repo.getName()}</a></h1>
  {license && <div>
      <a href={getTreePath(repo, ref, license.path)}>License</a>
  </div>}
  <p>{repo.getDescription()}</p>
  <nav class="repo-nav">
    <div>
      <GitRefSelector {...Astro.props}/>
      {branches.length > 0 && <span class="branches"><b>{branches.length}</b> {branches.length === 1 ? "branch" : "branches"}</span>}
      {tags.length > 0 && <span class="tags"><b>{tags.length}</b> {tags.length === 1 ? "tag" : "tags"}</span>}
    </div>
    <div>
      <div style="display:inline-block">
        <SearchInput index={repo.getName()}/>
      </div>
    </div>
  </nav>
</header>
<SearchResult/>