---
import GitBreadcrumbs from '@components/GitBreadcrumbs.astro'
import GitRefSelector from '@components/GitRefSelector.astro';
import SearchInput from '@components/search/SearchInput.astro';
import SearchResult from '@components/search/SearchResult.astro';
import {getBranches, getTags, getName, getDescription} from '@utils/git';
import "./RepoHeader.css"

const branches = await getBranches();
const tags = await getTags();
const {ref, path} = Astro.props;
---
<header class="repo-header">
  <a href="/">All repositories</a>
  <h1><a href={"/tree/" + ref}>{getName()}</a></h1>
  <div>
      <a href={"/tree/" + ref + "/LICENSE"}>License</a>
  </div>
  <p>{getDescription()}</p>
  <nav class="repo-nav">
    <div>
      <GitRefSelector ref={ref}/>
      {path ? <GitBreadcrumbs ref={ref} path={path}/> : <>
        {branches.length > 1 && <span class="branches"><b>{branches.length}</b> branches</span>}
        {tags.length > 0 && <span class="tags"><b>{tags.length}</b> tags</span>}
      </>}
    </div>
    <div>
      <div style="display:inline-block">
        <SearchInput/>
      </div>
    <a href={"/commits/" + ref}>Download</a>
    </div>
  </nav>
</header>
<SearchResult/>