---
import { Markdown } from 'astro/components';
import Bytes from '@components/ui/Bytes.astro';
import RelativeDateTime from '@components/ui/RelativeDateTime.astro'
const {repo, ref, entry: {oid}} = Astro.props;

const log = await repo.getLog(ref);
const blob = await repo.getBlob(oid);
const decoder = new TextDecoder("utf-8");

const {oidMap, refPathMap} = await repo.getStaticHelpers();
const path = oidMap.get(oid);
const history = await repo.getHistory(ref, path);
const latestCommit = history[0];
const content = decoder.decode(blob.blob);
const lines = content.split(/\n/);
const sloc = lines.filter(line => !line.match(/^\s*$/)).length;
const bytes = blob.blob.length;
---
<section class="file-content-section headered-section">
  <header class="headered-section-header">
    <b>{path}</b>
    <span>{lines.length} lines</span>
    <span>({sloc} sloc)</span>
    |
    <Bytes bytes={bytes}/>
    <span><RelativeDateTime date={repo.getDateOfCommit(latestCommit)}/></span>
    <a href="#raw">raw</a>
  </header>
  <div class="markdown-preview ">
    <Markdown>{content}</Markdown>
  </div>
</section>